@charset "ISO-8859-1";
body {
    font-family: Arial, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
 
.title {
    font-size: 36px;
    color: #007bff;
}
 
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
 
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
}
 
.btn-primary {
    background-color: #6c757dff;
    color: #fff;
}
 
.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}
 
.result-text {
    font-size: 24px;
    margin-bottom: 20px;
}
 
.convert-bg {
    background-color: #f99087
    ;
}
 
.result-bg {
    background-color: #e035e0;
}